.details_user {
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
}
.details {
  display: flex;
  margin: 2rem 0 4rem 0;
  width: 100%;
  align-items: center;
}
.details img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-right: 4rem;
}
.user {
  width: 100%;
}

.followers_details {
  margin-right: 3rem;
}
.username_details {
  margin-top: 2rem;
}
