.card {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
  color: #2f2f2f;
  padding: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
}
.details {
  display: flex;
}
.details img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}
.details p:nth-child(2) {
  color: #8f8f8f;
}
