* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  background-color: #2f2f2f;
  color: white;
  max-width: 900px;
  margin: auto;
}
a {
  text-decoration: none;
  color: white;
  width: 100%;
  display: flex;
}
